$color:red;

h1{
    text-align: center;
    color:$color;
    padding: 20px;
}
body{
    background-color: aqua;
}
p{
    font-family: weding script;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    text-align: center;
}